###  model Light GBM
###  bragging boosting, Ensemble
### Data : 시간 쪼개기 / Bounding Box 기준으로 데이터 쳐내기

In [2]:
import os
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
root = r'D:/data/1_NYC_city_taxi/preprocessed/'
train_fname = "hav_clust_date.csv"
test_fname = "hav_clust_date_test.csv"

In [4]:
df_train = pd.read_csv(os.path.join(root,train_fname))

In [5]:
df_train.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine,clust_pickup,clust_dropoff,clust_pickanddrop,year,weekday,hour
0,0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,1.031,1,1,3,2009,0,17
1,1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,8.450,0,3,2,2010,1,16
2,2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,1.390,2,3,2,2011,3,0
3,3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,2.799,0,3,2,2012,5,4
4,4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,1.999,2,3,0,2010,1,7

In [6]:
columns = df_train.columns

In [7]:
pick_up_columns = list(columns)[2:]

In [8]:
pick_up_columns.remove('fare_amount')

In [9]:
pick_up_columns.remove('pickup_datetime')

In [10]:
df_train[pick_up_columns]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine,clust_pickup,clust_dropoff,clust_pickanddrop,year,weekday,hour
0,-73.844311,40.721319,-73.841610,40.712278,1,1.031,1,1,3,2009,0,17
1,-74.016048,40.711303,-73.979268,40.782004,1,8.450,0,3,2,2010,1,16
2,-73.982738,40.761270,-73.991242,40.750562,2,1.390,2,3,2,2011,3,0
3,-73.987130,40.733143,-73.991567,40.758092,1,2.799,0,3,2,2012,5,4
4,-73.968095,40.768008,-73.956655,40.783762,1,1.999,2,3,0,2010,1,7
5,-74.000964,40.731630,-73.972892,40.758233,1,3.787,0,3,2,2011,3,9
6,-73.980002,40.751662,-73.973802,40.764842,1,1.556,0,3,2,2012,1,20
7,-73.951300,40.774138,-73.990095,40.751048,1,4.155,2,3,2,2012,2,17
8,-74.006462,40.726713,-73.993078,40.731628,1,1.253,0,0,5,2012,0,13
9,-73.980658,40.733873,-73.991540,40.758138,2,2.850,0,3,2,2009,2,1
10,-73.996335,40.737142,-73.980721,40.733559,1,1.375,0,0,5,2012,6,7
11,-73.991601,40.744712,-73.983081,40.744682,2,0.718,0,3,2,2009,4,1
12,-74.005360,40.728867,-74.008913,40.710907,1,2.019,0,0,5,2013,1,19
13,-74.001821,40.737547,-73.998060,40.722788,2,1.671,0,0,5,2011,1,17
14,-73.986430,40.760465,-73.988990,40.737075,1,2.610,2,0,2,2014,2,7
15,-73.981060,40.737690,-73.994177,40.728412,1,1.512,0,0,5,2009,2,16
16,-73.969505,40.784843,-73.958732,40.783357,1,0.922,2,3,0,2010,2,14
17,-73.979815,40.751902,-73.979446,40.755481,1,0.399,0,3,2,2014,5,20
18,-73.985382,40.747858,-73.978377,40.762070,1,1.687,0,3,2,2010,1,13
19,-73.957954,40.779252,-73.961250,40.758787,1,2.292,2,3,0,2013,1,12
20,-73.991707,40.770505,-73.985459,40.763671,1,0.924,2,3,2,2009,3,18
21,-74.000632,40.747473,-73.986672,40.740577,1,1.404,0,0,2,2010,0,12
22,-73.969622,40.756973,-73.981152,40.759712,1,1.018,2,3,2,2009,3,15
23,-73.991875,40.754437,-73.977230,40.774323,3,2.532,0,3,2,2011,1,16
24,-73.988893,40.760160,-73.986445,40.757857,3,0.329,0,3,2,2011,1,19
25,-73.989258,40.690835,-74.004133,40.725690,1,4.073,0,0,5,2012,4,6
26,-73.981020,40.737760,-73.980668,40.730497,2,0.808,0,0,5,2013,6,0
27,-73.976075,40.752422,-73.981082,40.759285,1,0.872,0,3,2,2014,2,16
28,-74.010483,40.717667,-73.985771,40.660366,1,6.704,0,0,5,2015,6,21
29,-73.873027,40.773883,-73.984545,40.769545,3,9.403,2,3,6,2009,4,16
...,...,...,...,...,...,...,...,...,...,...,...,...
978771,-73.967576,40.760106,-73.988016,40.764855,1,1.801,2,3,2,2013,4,23
978772,-73.776735,40.645323,-73.970758,40.682848,5,16.889,1,0,3,2009,0,9
978773,-73.983638,40.746203,-73.987377,40.749008,2,0.443,0,3,2,2009,0,17
978774,-73.952537,40.808417,-73.953065,40.803848,5,0.510,2,3,0,2011,5,12
978775,-73.991245,40.765387,-74.004995,40.705362,2,6.774,2,0,5,2013,2,7
978776,-73.873020,40.774041,-73.982572,40.759972,2,9.358,2,3,6,2014,6,9
978777,-73.981381,40.778593,-74.004399,40.746174,1,4.093,2,0,2,2011,3,14
978778,-74.015867,40.715233,-73.989395,40.758612,0,5.314,0,3,2,2011,3,12
978779,-73.984087,40.746916,-73.983599,40.730348,1,1.843,0,0,5,2012,2,0
978780,-74.002227,40.724750,-73.979082,40.752920,1,3.690,0,3,2,2013,0,15
978781,-74.010280,40.703269,-73.983382,40.668774,1,4.456,0,0,5,2014,0,7
978782,-73.956215,40.778343,-73.978371,40.750416,1,3.623,2,3,0,2015,4,12
978783,-73.985948,40.768127,-73.974000,40.762892,1,1.162,2,3,2,2011,3,6
978784,-73.991835,40.750038,-73.984214,40.754428,1,0.806,0,3,2,2014,4,7
978785,-73.872276,40.774264,-73.969262,40.756591,2,8.401,2,3,6,2014,6,14
978786,-74.003187,40.749022,-73.987785,40.745847,1,1.345,0,0,2,2014,3,20
978787,-73.975723,40.758533,-73.981537,40.752602,1,0.821,2,3,2,2015,1,9
978788,-73.982407,40.765418,-73.981803,40.763305,1,0.240,2,3,2,2010,1,15
978789,-73.937393,40.757975,-73.937393,40.757975,5,0.000,2,3,0,2011,5,7
978790,-73.982482,40.747582,-73.986402,40.738122,5,1.103,0,0,2,2012,6,10
978791,-73.963472,40.774893,-73.980038,40.777478,1,1.424,2,3,0,2009,1,16
978792,-73.973683,40.792300,-73.979603,40.765361,1,3.037,2,3,0,2010,1,8
978793,-73.976733,40.790480,-73.988215,40.779298,1,1.575,2,3,0,2011,4,10
978794,-73.975895,40.728558,-74.002202,40.755675,2,3.742,0,3,2,2012,4,11
978795,-73.872919,40.774106,-73.796524,40.775041,2,6.434,2,1,4,2014,6,22
978796,-73.976676,40.785630,-73.959196,40.775114,1,1.880,2,3,0,2014,5,21
978797,-73.992103,40.671385,-73.992103,40.671385,2,0.000,0,0,5,2010,0,14
978798,-73.978423,40.751135,-73.993397,40.762197,5,1.762,0,3,2,2013,4,14
978799,-73.980317,40.759482,-73.976832,40.743122,1,1.843,2,3,2,2011,4,0
978800,-74.006635,40.741598,-73.999450,40.745702,1,0.758,0,0,2,2009,3,14

In [11]:



x_train, x_test , y_train, y_test =  train_test_split(df_train[pick_up_columns],df_train['haversine'], 
                                                     test_size = 0.3 ,
                                                     random_state=123)

In [20]:
import time

In [24]:
time.time()

1544509818.6010203

In [25]:
# Scaling before model fit
from sklearn.preprocessing import StandardScaler

start_time = time.time()
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

rf = RandomForestRegressor(n_estimators=300, random_state=123456)
rf.fit(x_train, y_train)
end_time = time.time()


print("elapse time", end_time - start_time)

elapse time 1090.2531197071075

In [28]:

### testing n_job option

start_time = time.time()
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

rf = RandomForestRegressor(n_estimators=300, random_state=123456,n_jobs=8)

rf.fit(x_train, y_train)
end_time = time.time()
print("elapse time", end_time - start_time)

elapse time 180.40179920196533

In [27]:

### testing n_job option

start_time = time.time()
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

rf = RandomForestRegressor(n_estimators=300, random_state=123456,n_jobs=-1)

rf.fit(x_train, y_train)
end_time = time.time()
print("elapse time", end_time - start_time)

elapse time 139.57056522369385

In [ ]:

start_time = time.time()
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

rf = RandomForestRegressor(n_estimators=400, random_state=123456,n_jobs=8)

rf.fit(x_train, y_train)
end_time = time.time()
print("elapse time", end_time - start_time)

In [13]:
from sklearn import metrics

y_pred = rf.predict(x_test)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.00011420158547300414
Mean Squared Error: 0.0002460922950796418
Root Mean Squared Error: 0.01568732912511374

## Load Test Data

In [14]:
df_test = pd.read_csv(os.path.join(root,test_fname), parse_dates=["pickup_datetime"])

In [15]:
df_test['year'] = df_test.pickup_datetime.apply(lambda t: t.year)
df_test['weekday'] = df_test.pickup_datetime.apply(lambda t: t.weekday())
df_test['hour'] = df_test.pickup_datetime.apply(lambda t: t.hour)

In [16]:
model_fit_test = df_test[pick_up_columns]

In [17]:
scaled_test = sc.transform(model_fit_test)
test_predict  = rf.predict(scaled_test)

c:\program files\anaconda3\envs\cuda\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [18]:
test_predict

array([ 2.323     ,  2.425     ,  0.619     , ..., 19.1829637 ,
        8.34301122,  1.181     ])

In [19]:
df_test['fare_amount'] = test_predict

In [24]:
df_test[['key','fare_amount']]

                                key  fare_amount
0       2015-01-27 13:08:24.0000002    12.057653
1       2015-01-27 13:08:24.0000003    12.440847
2       2011-10-08 11:53:44.0000002     5.653000
3       2012-12-01 21:12:12.0000002    10.696981
4       2012-12-01 21:12:12.0000003    23.579493
5       2012-12-01 21:12:12.0000005    15.441650
6       2011-10-06 12:10:20.0000001     6.822000
7       2011-10-06 12:10:20.0000003    84.323850
8       2011-10-06 12:10:20.0000002    17.888167
9       2014-02-18 15:22:20.0000002     7.461000
10      2014-02-18 15:22:20.0000003    12.038985
11      2014-02-18 15:22:20.0000001    21.439680
12      2010-03-29 20:20:32.0000002     6.044000
13      2010-03-29 20:20:32.0000001     9.626004
14      2011-10-06 03:59:12.0000002    12.738120
15      2011-10-06 03:59:12.0000001    22.552733
16      2012-07-15 16:45:04.0000006     4.450000
17      2012-07-15 16:45:04.0000002    12.838903
18      2012-07-15 16:45:04.0000003     6.258000
19      2012-07-15 16:45:04.0000004     4.931000
20      2014-10-29 02:09:56.0000001     9.534990
21     2014-06-14 13:39:00.00000010    10.727033
22     2014-06-14 13:39:00.00000060     8.230986
23     2014-06-14 13:39:00.00000087    10.471000
24     2014-06-14 13:39:00.00000050    25.062800
25      2014-06-14 13:39:00.0000003     7.543000
26    2014-06-14 13:39:00.000000158    58.338090
27     2014-06-14 13:39:00.00000015    38.744983
28     2014-06-14 13:39:00.00000073     7.630009
29     2014-06-14 13:39:00.00000077    20.977153
...                             ...          ...
9884   2013-09-25 22:00:00.00000060    66.094673
9885  2013-09-25 22:00:00.000000213    22.142573
9886  2013-09-25 22:00:00.000000150    30.957207
9887   2013-09-25 22:00:00.00000010     9.643998
9888  2013-09-25 22:00:00.000000146     3.326000
9889   2013-09-25 22:00:00.00000041    12.264050
9890  2013-09-25 22:00:00.000000109    14.395864
9891  2013-09-25 22:00:00.000000210    25.678657
9892  2013-09-25 22:00:00.000000151    14.414541
9893  2013-09-25 22:00:00.000000190    21.124000
9894  2013-09-25 22:00:00.000000153    14.981963
9895  2013-09-25 22:00:00.000000241    37.187293
9896  2013-09-25 22:00:00.000000127    12.340186
9897    2015-02-20 11:08:29.0000001    22.427350
9898    2015-01-12 15:36:37.0000002     5.412000
9899    2015-06-07 00:38:14.0000002    24.425413
9900    2015-04-12 21:56:22.0000005    10.434010
9901    2015-04-10 11:56:54.0000004     9.076973
9902    2015-06-25 01:01:46.0000002    17.955023
9903    2015-05-29 10:02:42.0000001    11.967187
9904    2015-06-30 20:03:50.0000002    66.149093
9905    2015-02-27 19:36:02.0000006    38.882057
9906    2015-06-15 01:00:06.0000002     4.717000
9907    2015-02-03 09:00:58.0000001    40.648753
9908    2015-05-19 13:58:11.0000001     9.475022
9909    2015-05-10 12:37:51.0000002    11.312929
9910    2015-01-12 17:05:51.0000001    15.620667
9911    2015-04-19 20:44:15.0000001    76.192743
9912    2015-01-31 01:05:19.0000005    34.974433
9913    2015-01-18 14:06:23.0000006     7.764997

[9914 rows x 2 columns]

In [25]:
## Submission File

outpath = r'D:/data/1_NYC_city_taxi/preprocessed/'
submission_fname = "submission_rf_4.csv"


df_test[['key','fare_amount']].to_csv(os.path.join(outpath,submission_fname),index = False)

## Hyper Parameter Tuning

In [29]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 50, stop = 150, num = 20)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 80, num = 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

#
rfc = RandomForestRegressor()

# 
rf_random = RandomizedSearchCV(estimator = rfc, param_distributions = random_grid, n_iter = 3,
                               cv = 3, verbose=2, random_state=42, n_jobs = 8)

rf_random.fit(x_train,y_train)

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   4 out of   9 | elapsed:  4.6min remaining:  5.7min
[Parallel(n_jobs=8)]: Done   9 out of   9 | elapsed:  6.9min remaining:    0.0s
[Parallel(n_jobs=8)]: Done   9 out of   9 | elapsed:  6.9min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=3, n_jobs=8,
          param_distributions={'min_samples_leaf': [1, 2, 4], 'min_samples_split': [2, 5, 10], 'n_estimators': [50, 55, 60, 65, 71, 76, 81, 86, 92, 97, 102, 107, 113, 118, 123, 128, 134, 139, 144, 150], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 17, 25, 33, 41, 48, 56, 64, 72, 80, None], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [31]:
best_random = rf_random.best_estimator_

In [33]:
from sklearn import metrics

y_pred = best_random.predict(x_test)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.00021336315293644673
Mean Squared Error: 0.0011355808755351346
Root Mean Squared Error: 0.03369838090376353

In [34]:
test_predict = best_random.predict(scaled_test)
df_test['fare_amount'] = test_predict

## Submission File

outpath = r'D:/data/1_NYC_city_taxi/preprocessed/'
submission_fname = "submission_random_seach.csv"


df_test[['key','fare_amount']].to_csv(os.path.join(outpath,submission_fname),index = False)